<?xml version="1.0" encoding="UTF-8" ?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.codeanywhere.mobile" version="6.0.1">

  <name>Codeanywhere</name>

  <description>
    Your code, anywhere.
  </description>

  <author href="">
    Lkraljevic
  </author>

  <!-- Define the main entry-point to the application -->
  <content src="main.html" />

  <!-- Customize your app and platform with the preference element. -->
  <preference name="DisallowOverscroll" value="true" />
  <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
  <preference name="android-minSdkVersion" value="21" />
  <!-- Android 5.0 -->
  <preference name="android-targetSdkVersion" value="24" />

  <preference name="AndroidLaunchMode" value="standard" />

  <preference name="BackgroundColor" value="#222" />
  <!-- <preference name="Orientation" value="portrait" /> -->




<!-- iOS -->


  <preference name="EnableViewportScale" value="true"/>
  <!-- 
  <preference name="SuppressesLongPressGesture" value="true" />
  <preference name="Suppresses3DTouchGesture" value="true" /> 
-->


  <!-- Plugins -->
  <!-- Core plugins -->
  <plugin name="cordova-plugin-apprate" spec="1.3.0" />
  <plugin name="cordova-plugin-background-mode" spec="0.7.2" />
  <plugin name="cordova-plugin-device" spec="1.1.6" />
  <plugin name="cordova-plugin-device-motion" spec="1.2.5" />
  <plugin name="cordova-plugin-dialogs" spec="1.2.1" />

  <plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
  <plugin name="cordova-plugin-network-information" spec="1.2.1" />
  <plugin name="cordova-plugin-screen-orientation" spec="2.0.1" />
  <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
  
  <plugin name="cordova-plugin-keyboard" spec="1.2.0" />
  <!-- <plugin name="ionic-plugin-keyboard" spec="2.2.1" /> -->

  <!--<plugin name="cordova-plugin-statusbar" spec="2.4.1" /> -->
  <plugin name="cordova-plugin-splashscreen" spec="5.0.1" />
  
  
  <plugin spec="https://github.com/VersoSolutions/CordovaClipboard" source="git" />
  <plugin spec="https://github.com/apache/cordova-plugin-statusbar" source="git" />

  <plugin name="cordova-plugin-cookiemaster" source="npm" />
  <plugin name="cordova-plugin-cookieemperor" source="npm" />

  
  <plugin name="cordova-plugin-googleplus" source="npm">
    <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.944619633743-ript798ns6dpjpn0uvjgqi9ucs8c2vml" />
  </plugin>


  <!-- Define app icon and splashscreen for each platform. -->
  <platform name="android">
    <icon src="res/icons/android/32x32.png" density="ldpi" />
    <icon src="res/icons/android/48x48.png" density="mdpi" />
    <icon src="res/icons/android/64x64.png" density="hdpi" />
    <icon src="res/icons/android/96x96.png" density="xhdpi" />
    <icon src="res/icons/android/128x128.png" density="xxhdpi" />
    <icon src="res/icons/android/256x256.png" density="xxxhdpi" />

    <splash src="res/screen/android/test.png" density="land-hdpi" />
    <splash src="res/screen/android/test.png" density="land-ldpi" />
    <splash src="res/screen/android/test.png" density="land-mdpi" />
    <splash src="res/screen/android/test.png" density="land-xhdpi" />

    <splash src="res/screen/android/test.png" density="port-hdpi" />
    <splash src="res/screen/android/test.png" density="port-ldpi" />
    <splash src="res/screen/android/test.png" density="port-mdpi" />
    <splash src="res/screen/android/test.png" density="port-xhdpi" />
    <!--
        <splash src="www/res/screen/android/drawable-land-ldpi-screen.png"      density="land-ldpi" />
        <splash src="www/res/screen/android/drawable-land-mdpi-screen.png"      density="land-mdpi" />
        <splash src="www/res/screen/android/drawable-land-hdpi-screen.png"      density="land-hdpi" />
        <splash src="www/res/screen/android/drawable-land-xhdpi-screen.png"     density="land-xhdpi" />
        <splash src="www/res/screen/android/drawable-land-xxhdpi-screen.png"    density="land-xxhdpi" />
        <splash src="www/res/screen/android/drawable-land-xxxhdpi-screen.png"   density="land-xxxhdpi" />
        <splash src="www/res/screen/android/drawable-port-ldpi-screen.png"      density="port-ldpi" />
        <splash src="www/res/screen/android/drawable-port-mdpi-screen.png"      density="port-mdpi" />
        <splash src="www/res/screen/android/drawable-port-hdpi-screen.png"      density="port-hdpi" />
        <splash src="www/res/screen/android/drawable-port-xhdpi-screen.png"     density="port-xhdpi" />
        <splash src="www/res/screen/android/drawable-port-xxhdpi-screen.png"    density="port-xxhdpi" />
        <splash src="www/res/screen/android/drawable-port-xxxhdpi-screen.png"   density="port-xxxhdpi" />
        -->
  </platform>

  <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/icons/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/icons/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icons/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/icons/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icons/ios/icon-76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/icons/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icons/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/icons/ios/icon.png" width="57" height="57" />
        <icon src="res/icons/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/icons/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icons/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="res/icons/ios/icon-167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/icons/ios/icon-small.png" width="29" height="29" />
        <icon src="res/icons/ios/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/icons/ios/icon-50.png" width="50" height="50" />
        <icon src="res/icons/ios/icon-50@2x.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="res/icons/ios/icon-83.5@2x.png" width="167" height="167" />




       <!-- There are two mechanisms for showing launch images.
       Legacy method (supports all devices except iPad Pro 12.9):
       Note: Images are determined by width and height. The following are supported -->
        
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
      
        <!-- Storyboard method (supports all devices):
           Important: If you use the storyboard method, legacy images are copied but ignored.
           Note: images are determined by scale, idiom, and size traits. The following
           are suggested based on current device form factors -->
        <!--
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comcom.png" />
        <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@3x~universal~anycom.png" />
        <splash src="res/screen/ios/Default@3x~universal~comany.png" />
      -->
    </platform>
    <preference name="SplashScreenDelay" value="50" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
    

  
    

  <!--
        Define access to external domains.
        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.
        Otherwise, you can specify specific domains:
    -->
  <access origin="*" />
  <!--
       <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
       <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
       <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

  <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
  <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->

  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>


</widget>
