{
  "name": "mobile_dist",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "www/styles/themes/white/stylus/main.styl",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"www/styles/themes/white/main.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-stylus\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "www/styles/themes/monokai/stylus/main.styl",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"www/styles/themes/monokai/main.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-stylus\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "www/styles/themes/dark/stylus/main.styl",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"www/styles/themes/dark/main.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-stylus\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "www",
      "www/styles",
      "www/styles/themes",
      "www/styles/themes/white/stylus",
      "www/styles/themes/monokai/stylus",
      "www/styles/themes/dark",
      "www/styles/themes/dark/stylus"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "www/styles/font-awesome-4.7.0/less/font-awesome.less",
      "imports": [
        "www/styles/font-awesome-4.7.0/less/variables.less",
        "www/styles/font-awesome-4.7.0/less/mixins.less",
        "www/styles/font-awesome-4.7.0/less/path.less",
        "www/styles/font-awesome-4.7.0/less/core.less",
        "www/styles/font-awesome-4.7.0/less/larger.less",
        "www/styles/font-awesome-4.7.0/less/fixed-width.less",
        "www/styles/font-awesome-4.7.0/less/list.less",
        "www/styles/font-awesome-4.7.0/less/bordered-pulled.less",
        "www/styles/font-awesome-4.7.0/less/animated.less",
        "www/styles/font-awesome-4.7.0/less/rotated-flipped.less",
        "www/styles/font-awesome-4.7.0/less/stacked.less",
        "www/styles/font-awesome-4.7.0/less/icons.less",
        "www/styles/font-awesome-4.7.0/less/screen-reader.less"
      ]
    },
    {
      "path": "www/styles/font-awesome-4.7.0/scss/font-awesome.scss",
      "imports": [
        "www/styles/font-awesome-4.7.0/scss/_variables.scss",
        "www/styles/font-awesome-4.7.0/scss/_mixins.scss",
        "www/styles/font-awesome-4.7.0/scss/_path.scss",
        "www/styles/font-awesome-4.7.0/scss/_core.scss",
        "www/styles/font-awesome-4.7.0/scss/_larger.scss",
        "www/styles/font-awesome-4.7.0/scss/_fixed-width.scss",
        "www/styles/font-awesome-4.7.0/scss/_list.scss",
        "www/styles/font-awesome-4.7.0/scss/_bordered-pulled.scss",
        "www/styles/font-awesome-4.7.0/scss/_animated.scss",
        "www/styles/font-awesome-4.7.0/scss/_rotated-flipped.scss",
        "www/styles/font-awesome-4.7.0/scss/_stacked.scss",
        "www/styles/font-awesome-4.7.0/scss/_icons.scss",
        "www/styles/font-awesome-4.7.0/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "www/styles/themes/dark/stylus/fileExplorer.styl",
      "imports": [
        "www/styles/themes/dark/stylus/explorer/loaders.styl",
        "www/styles/themes/dark/stylus/explorer/sidePanels.styl",
        "www/styles/themes/dark/stylus/explorer/profile.styl",
        "www/styles/themes/dark/stylus/explorer/tabs.styl",
        "www/styles/themes/dark/stylus/explorer/goto.styl",
        "www/styles/themes/dark/stylus/explorer/buttons.styl",
        "www/styles/themes/dark/stylus/explorer/icons.styl",
        "www/styles/themes/dark/stylus/explorer/find.styl",
        "www/styles/themes/dark/stylus/explorer/codemirror.styl",
        "www/styles/themes/dark/stylus/explorer/notifications.styl",
        "www/styles/themes/dark/stylus/explorer/revisions.styl",
        "www/styles/themes/dark/stylus/explorer/preferences.styl",
        "www/styles/themes/dark/stylus/explorer/permissions.styl",
        "www/styles/themes/dark/stylus/explorer/saveAs.styl",
        "www/styles/themes/dark/stylus/explorer/share.styl",
        "www/styles/themes/dark/stylus/explorer/info.styl",
        "www/styles/themes/dark/stylus/explorer/keyboard.styl",
        "www/styles/themes/dark/stylus/explorer/help.styl",
        "www/styles/themes/dark/stylus/explorer/alert-bot.styl"
      ]
    },
    {
      "path": "www/styles/themes/dark/stylus/global.styl",
      "imports": [
        "www/styles/themes/dark/stylus/global/variables.styl",
        "www/styles/themes/dark/stylus/global/mixins.styl",
        "www/styles/themes/dark/stylus/global/colorPalete-dark.styl",
        "www/styles/themes/dark/stylus/global/input.styl",
        "www/styles/themes/dark/stylus/global/select.styl",
        "www/styles/themes/dark/stylus/global/checkbox.styl",
        "www/styles/themes/dark/stylus/global/buttons.styl"
      ]
    },
    {
      "path": "www/styles/themes/dark/stylus/main.styl",
      "imports": [
        "www/styles/themes/dark/stylus/global.styl",
        "www/styles/themes/dark/stylus/login.styl",
        "www/styles/themes/dark/stylus/fileExplorer.styl",
        "www/styles/themes/dark/stylus/dialog.styl",
        "www/styles/themes/dark/stylus/wizard.styl",
        "www/styles/themes/dark/stylus/global/variables.styl",
        "www/styles/themes/dark/stylus/global/mixins.styl",
        "www/styles/themes/dark/stylus/global/colorPalete-dark.styl",
        "www/styles/themes/dark/stylus/global/input.styl",
        "www/styles/themes/dark/stylus/global/select.styl",
        "www/styles/themes/dark/stylus/global/checkbox.styl",
        "www/styles/themes/dark/stylus/global/buttons.styl",
        "www/styles/themes/dark/stylus/global/keyboardPlugin.styl",
        "www/styles/themes/dark/stylus/explorer/loaders.styl",
        "www/styles/themes/dark/stylus/explorer/sidePanels.styl",
        "www/styles/themes/dark/stylus/explorer/profile.styl",
        "www/styles/themes/dark/stylus/explorer/tabs.styl",
        "www/styles/themes/dark/stylus/explorer/goto.styl",
        "www/styles/themes/dark/stylus/explorer/buttons.styl",
        "www/styles/themes/dark/stylus/explorer/icons.styl",
        "www/styles/themes/dark/stylus/explorer/find.styl",
        "www/styles/themes/dark/stylus/explorer/codemirror.styl",
        "www/styles/themes/dark/stylus/explorer/notifications.styl",
        "www/styles/themes/dark/stylus/explorer/revisions.styl",
        "www/styles/themes/dark/stylus/explorer/preferences.styl",
        "www/styles/themes/dark/stylus/explorer/permissions.styl",
        "www/styles/themes/dark/stylus/explorer/saveAs.styl",
        "www/styles/themes/dark/stylus/explorer/share.styl",
        "www/styles/themes/dark/stylus/explorer/info.styl",
        "www/styles/themes/dark/stylus/explorer/keyboard.styl",
        "www/styles/themes/dark/stylus/explorer/help.styl",
        "www/styles/themes/dark/stylus/explorer/alert-bot.styl"
      ]
    },
    {
      "path": "www/styles/themes/monokai/stylus/fileExplorer.styl",
      "imports": [
        "www/styles/themes/monokai/stylus/explorer/loaders.styl",
        "www/styles/themes/monokai/stylus/explorer/sidePanels.styl",
        "www/styles/themes/monokai/stylus/explorer/profile.styl",
        "www/styles/themes/monokai/stylus/explorer/tabs.styl",
        "www/styles/themes/monokai/stylus/explorer/goto.styl",
        "www/styles/themes/monokai/stylus/explorer/buttons.styl",
        "www/styles/themes/monokai/stylus/explorer/icons.styl",
        "www/styles/themes/monokai/stylus/explorer/find.styl",
        "www/styles/themes/monokai/stylus/explorer/codemirror.styl",
        "www/styles/themes/monokai/stylus/explorer/notifications.styl",
        "www/styles/themes/monokai/stylus/explorer/revisions.styl",
        "www/styles/themes/monokai/stylus/explorer/preferences.styl",
        "www/styles/themes/monokai/stylus/explorer/permissions.styl",
        "www/styles/themes/monokai/stylus/explorer/saveAs.styl",
        "www/styles/themes/monokai/stylus/explorer/share.styl",
        "www/styles/themes/monokai/stylus/explorer/info.styl",
        "www/styles/themes/monokai/stylus/explorer/keyboard.styl",
        "www/styles/themes/monokai/stylus/explorer/help.styl",
        "www/styles/themes/monokai/stylus/explorer/alert-bot.styl"
      ]
    },
    {
      "path": "www/styles/themes/monokai/stylus/global.styl",
      "imports": [
        "www/styles/themes/monokai/stylus/global/variables.styl",
        "www/styles/themes/monokai/stylus/global/mixins.styl",
        "www/styles/themes/monokai/stylus/global/colorPalete-monokai.styl",
        "www/styles/themes/monokai/stylus/global/input.styl",
        "www/styles/themes/monokai/stylus/global/select.styl",
        "www/styles/themes/monokai/stylus/global/checkbox.styl",
        "www/styles/themes/monokai/stylus/global/buttons.styl"
      ]
    },
    {
      "path": "www/styles/themes/monokai/stylus/main.styl",
      "imports": [
        "www/styles/themes/monokai/stylus/global.styl",
        "www/styles/themes/monokai/stylus/login.styl",
        "www/styles/themes/monokai/stylus/fileExplorer.styl",
        "www/styles/themes/monokai/stylus/dialog.styl",
        "www/styles/themes/monokai/stylus/wizard.styl",
        "www/styles/themes/monokai/stylus/global/variables.styl",
        "www/styles/themes/monokai/stylus/global/mixins.styl",
        "www/styles/themes/monokai/stylus/global/colorPalete-monokai.styl",
        "www/styles/themes/monokai/stylus/global/input.styl",
        "www/styles/themes/monokai/stylus/global/select.styl",
        "www/styles/themes/monokai/stylus/global/checkbox.styl",
        "www/styles/themes/monokai/stylus/global/buttons.styl",
        "www/styles/themes/monokai/stylus/global/keyboardPlugin.styl",
        "www/styles/themes/monokai/stylus/explorer/loaders.styl",
        "www/styles/themes/monokai/stylus/explorer/sidePanels.styl",
        "www/styles/themes/monokai/stylus/explorer/profile.styl",
        "www/styles/themes/monokai/stylus/explorer/tabs.styl",
        "www/styles/themes/monokai/stylus/explorer/goto.styl",
        "www/styles/themes/monokai/stylus/explorer/buttons.styl",
        "www/styles/themes/monokai/stylus/explorer/icons.styl",
        "www/styles/themes/monokai/stylus/explorer/find.styl",
        "www/styles/themes/monokai/stylus/explorer/codemirror.styl",
        "www/styles/themes/monokai/stylus/explorer/notifications.styl",
        "www/styles/themes/monokai/stylus/explorer/revisions.styl",
        "www/styles/themes/monokai/stylus/explorer/preferences.styl",
        "www/styles/themes/monokai/stylus/explorer/permissions.styl",
        "www/styles/themes/monokai/stylus/explorer/saveAs.styl",
        "www/styles/themes/monokai/stylus/explorer/share.styl",
        "www/styles/themes/monokai/stylus/explorer/info.styl",
        "www/styles/themes/monokai/stylus/explorer/keyboard.styl",
        "www/styles/themes/monokai/stylus/explorer/help.styl",
        "www/styles/themes/monokai/stylus/explorer/alert-bot.styl"
      ]
    },
    {
      "path": "www/styles/themes/white/stylus/fileExplorer.styl",
      "imports": [
        "www/styles/themes/white/stylus/explorer/loaders.styl",
        "www/styles/themes/white/stylus/explorer/sidePanels.styl",
        "www/styles/themes/white/stylus/explorer/profile.styl",
        "www/styles/themes/white/stylus/explorer/tabs.styl",
        "www/styles/themes/white/stylus/explorer/goto.styl",
        "www/styles/themes/white/stylus/explorer/buttons.styl",
        "www/styles/themes/white/stylus/explorer/icons.styl",
        "www/styles/themes/white/stylus/explorer/find.styl",
        "www/styles/themes/white/stylus/explorer/codemirror.styl",
        "www/styles/themes/white/stylus/explorer/notifications.styl",
        "www/styles/themes/white/stylus/explorer/revisions.styl",
        "www/styles/themes/white/stylus/explorer/preferences.styl",
        "www/styles/themes/white/stylus/explorer/permissions.styl",
        "www/styles/themes/white/stylus/explorer/saveAs.styl",
        "www/styles/themes/white/stylus/explorer/share.styl",
        "www/styles/themes/white/stylus/explorer/info.styl",
        "www/styles/themes/white/stylus/explorer/keyboard.styl",
        "www/styles/themes/white/stylus/explorer/help.styl",
        "www/styles/themes/white/stylus/explorer/alert-bot.styl"
      ]
    },
    {
      "path": "www/styles/themes/white/stylus/global.styl",
      "imports": [
        "www/styles/themes/white/stylus/global/variables.styl",
        "www/styles/themes/white/stylus/global/mixins.styl",
        "www/styles/themes/white/stylus/global/colorPalete-white.styl",
        "www/styles/themes/white/stylus/global/input.styl",
        "www/styles/themes/white/stylus/global/select.styl",
        "www/styles/themes/white/stylus/global/checkbox.styl",
        "www/styles/themes/white/stylus/global/buttons.styl"
      ]
    },
    {
      "path": "www/styles/themes/white/stylus/main.styl",
      "imports": [
        "www/styles/themes/white/stylus/global.styl",
        "www/styles/themes/white/stylus/login.styl",
        "www/styles/themes/white/stylus/fileExplorer.styl",
        "www/styles/themes/white/stylus/dialog.styl",
        "www/styles/themes/white/stylus/wizard.styl",
        "www/styles/themes/white/stylus/global/variables.styl",
        "www/styles/themes/white/stylus/global/mixins.styl",
        "www/styles/themes/white/stylus/global/colorPalete-white.styl",
        "www/styles/themes/white/stylus/global/input.styl",
        "www/styles/themes/white/stylus/global/select.styl",
        "www/styles/themes/white/stylus/global/checkbox.styl",
        "www/styles/themes/white/stylus/global/buttons.styl",
        "www/styles/themes/white/stylus/global/keyboardPlugin.styl",
        "www/styles/themes/white/stylus/explorer/loaders.styl",
        "www/styles/themes/white/stylus/explorer/sidePanels.styl",
        "www/styles/themes/white/stylus/explorer/profile.styl",
        "www/styles/themes/white/stylus/explorer/tabs.styl",
        "www/styles/themes/white/stylus/explorer/goto.styl",
        "www/styles/themes/white/stylus/explorer/buttons.styl",
        "www/styles/themes/white/stylus/explorer/icons.styl",
        "www/styles/themes/white/stylus/explorer/find.styl",
        "www/styles/themes/white/stylus/explorer/codemirror.styl",
        "www/styles/themes/white/stylus/explorer/notifications.styl",
        "www/styles/themes/white/stylus/explorer/revisions.styl",
        "www/styles/themes/white/stylus/explorer/preferences.styl",
        "www/styles/themes/white/stylus/explorer/permissions.styl",
        "www/styles/themes/white/stylus/explorer/saveAs.styl",
        "www/styles/themes/white/stylus/explorer/share.styl",
        "www/styles/themes/white/stylus/explorer/info.styl",
        "www/styles/themes/white/stylus/explorer/keyboard.styl",
        "www/styles/themes/white/stylus/explorer/help.styl",
        "www/styles/themes/white/stylus/explorer/alert-bot.styl"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7885,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": true,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}