
.region-center .CodeMirror { background: #2f1e2e; color: #b9b6b0; }
.region-center .CodeMirror div.CodeMirror-selected { background: #41323f; }
.region-center .CodeMirror .CodeMirror-line::selection, .region-center .CodeMirror .CodeMirror-line > span::selection, .region-center .CodeMirror .CodeMirror-line > span > span::selection { background: rgba(65, 50, 63, .99); }
.region-center .CodeMirror .CodeMirror-line::-moz-selection, .region-center .CodeMirror .CodeMirror-line > span::-moz-selection, .region-center .CodeMirror .CodeMirror-line > span > span::-moz-selection { background: rgba(65, 50, 63, .99); }
.region-center .CodeMirror .CodeMirror-gutters { background: #2f1e2e; border-right: 0px; }
.region-center .CodeMirror .CodeMirror-guttermarker { color: #ef6155; }
.region-center .CodeMirror .CodeMirror-guttermarker-subtle { color: #776e71; }
.region-center .CodeMirror .CodeMirror-linenumber { color: #776e71; }
.region-center .CodeMirror .CodeMirror-cursor { border-left: 1px solid #8d8687; }

.region-center .CodeMirror span.cm-comment { color: #e96ba8; }
.region-center .CodeMirror span.cm-atom { color: #815ba4; }
.region-center .CodeMirror span.cm-number { color: #815ba4; }

.region-center .CodeMirror span.cm-property, .region-center .CodeMirror span.cm-attribute { color: #48b685; }
.region-center .CodeMirror span.cm-keyword { color: #ef6155; }
.region-center .CodeMirror span.cm-string { color: #fec418; }

.region-center .CodeMirror span.cm-variable { color: #48b685; }
.region-center .CodeMirror span.cm-variable-2 { color: #06b6ef; }
.region-center .CodeMirror span.cm-def { color: #f99b15; }
.region-center .CodeMirror span.cm-bracket { color: #b9b6b0; }
.region-center .CodeMirror span.cm-tag { color: #ef6155; }
.region-center .CodeMirror span.cm-link { color: #815ba4; }
.region-center .CodeMirror span.cm-error { background: #ef6155; color: #8d8687; }

.region-center .CodeMirror .CodeMirror-activeline-background { background: #4D344A; }
.region-center .CodeMirror .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }